@import "../../core/colors";

.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.section-break-line {
    border-bottom: 1px solid $gray100;
    margin: 80px 0px 20px 0px;
}

.stack-vertically{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.external-link-w-icon {
    display: flex;
    flex-direction: row;
    align-content: center;

    a {
        display: flex;
        flex-direction: row;
        align-items: center; 

        &:hover {
            color: $byzantium
        }
    }

}

#external-link-icon {
    width: 14px;
    height: 14px;
    padding: 0px;
    margin: auto 0px;
    opacity: 0.7;
}