@import "../../core/colors";


.centered-text {
    text-align: center;
}

.all-caps {
    text-transform: uppercase;
}


//font weights quick selection
.w200{
    font-weight: 200;
}

.w400{
    font-weight: 400;
}

.w600{
    font-weight: 600;
}

.w800{
    font-weight: 800;
}

.w1000{
    font-weight: 1000;
}

//hover on a link turns purple
#hover-purple {
    font-size: 14px;

    &:hover{
        color: $byzantium;
    }
}

//hover on a link turns purple & underlined
#hover-purple-underline {

    &:hover{
        color: $byzantium;
        text-decoration: underline;
    }
}

