h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: auto;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #291720ff;
}

.footer-logo {
  display: flex;
  margin: auto 0px;
}
.footer-logo h5 {
  margin-bottom: 0px;
}
.footer-logo img {
  width: 60px;
  height: 60px;
}
.footer-logo p {
  color: #d8d8d8;
  font-size: 14px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}
.footer-column h5 {
  text-transform: uppercase;
  color: #d8d8d8;
  margin-bottom: 3px;
  font-family: "Red Hat Display", sans-serif;
}
.footer-column a {
  text-decoration: none;
  color: #c5c5c5;
  padding: 3px 0px;
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
}
.footer-column a:hover {
  color: #ececec;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #820263ff;
  padding: 10px 3vw;
}
.footer-bottom img {
  width: 20px;
  height: 20px;
}
.footer-bottom p {
  font-size: 14px;
  color: #ececec;
}

.kindlr-social {
  margin-right: 20px;
}
.kindlr-social:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.footer-bottom-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-bottom-left img {
  margin-right: 4px;
}

.footer-bottom-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hover-youtube:hover {
  color: #FF0000;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

#hover-twitch:hover {
  color: #6441A4;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

#hover-discord:hover {
  color: #7289DA;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.top-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #c5c5c5;
}
.top-promo p {
  color: #8a8a8a;
  font-size: 14px;
}
.top-promo a {
  text-decoration: none;
  color: #680D0D;
}
.top-promo a:hover {
  color: #d90368ff;
}
.top-promo img {
  width: 100px;
  height: 24px;
  padding-left: 10px;
}

.nav-logo {
  width: 60px;
}

.nav-container {
  padding: 28px 0px;
  display: flex;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
}
.nav-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10vw;
}
.nav-container ul a {
  align-self: center;
}
.nav-container ul a:hover {
  text-decoration: underline;
  color: #820263ff;
  transition: all 0.3s ease;
}
.nav-container ul li {
  list-style-type: none;
  margin: 0vw 3vw;
}
.nav-container ul a:last-of-type {
  margin-right: 3vw;
}

.steam-login {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.steam-login img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.steam-login p {
  color: #d90368ff;
}

.steam-logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.steam-logged-in img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#user-signed-in {
  color: #04a777ff;
  text-decoration: none;
}
#user-signed-in:active {
  color: #04a777ff;
}

.stat-above-text {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #636363;
  font-weight: 600;
}

.showcase-stats-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  box-shadow: 1px 1px 3px #291720ff;
  border-radius: 20px;
  margin-bottom: 30px;
  background-image: linear-gradient(135deg, #d90368ff, #820263ff);
}

.showcase-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid linear-gradient(135deg, #d90368ff, #820263ff);
  width: 100%;
}

.first {
  border-radius: 20px 0px 0px 20px;
  z-index: 1;
}

.last {
  border-radius: 0px 20px 20px 0px;
  z-index: 3;
}

.stat {
  font-size: 34px;
  font-weight: 400;
  color: #ececec;
  margin-bottom: 5px;
  margin-top: 20px;
}

.stat-desc {
  font-size: 14px;
  margin-bottom: 25px;
  color: #d8d8d8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.categories-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.categories-platforms {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.categories-platforms a {
  text-decoration: none;
  border: 1px solid #ececec;
  border-radius: 4px;
}
.categories-platforms a:hover {
  border: 1px solid #820263ff;
}

.category-platform {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 8vw;
  padding: 5px 10px;
}
.category-platform img {
  width: 60px;
  height: 60px;
  margin: 10px 0px;
}
.category-platform p {
  color: #636363;
  text-align: center;
}

/*# sourceMappingURL=all.css.map */
