@import "../core/colors";
@import "../core/typography";



//////////////////////
//background decor///
////////////////////
.background-decoration-right{
    position: absolute;
    z-index: -1;
    transform: rotate(-15deg);
    top: 120px;
    right: -300px;
}


///////////////////////////////////////////////
//Featured Project - User Updates Container///
/////////////////////////////////////////////

//main container
.featured-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

///////////////////////////////////////
//left container - Featured Project///
.featured-left {
    width: 50%;
    padding-right: 40px;
    border-right: 1px solid $gray200;
    
    //game image
    img{
        width: 100%;
    }
    
    //game title
    h2 {
        margin-bottom: 20px;
    }

}

//percent funded tag
.tag-container {
    position: relative;

    .percent-funded-tag {
        font-size: 16px;
        color: white;
        background-image: $gradient-bottom-right-purple;
        border-radius: 8px 0px 0px 8px;
        padding: 4px 10px;
        position: absolute;
        top: 10px;
        right: 0px;
        box-shadow: -2px 2px 4px $dark-purple;
    }
}



//featured footer container
.featured-footer-container {
    display: flex;
    justify-content: space-between;
}

//platforms available to play
.footer-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 30px;
        margin-right: 10px;
    }

    p{
        font-size: 14px;
        color: $gray600;
    }

}

///////////////////////////////////
//right container - User Updates//
.featured-right {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}


// user information from Steam API
.user-steam-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray200;

    //user steam profile image
    img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
}

// user's Steam game library total and acheievement total
.user-steam-name-stats {
    display: flex;
    flex-direction: column;
}

.user-steam-stats {
   display: flex;
   flex-direction: row;
   margin-top: 5px;

   p {
       color: $gray600;
       font-size: 13px;
       font-weight: 400;
       margin-right: 15px;
   }
}


//Kindlr Activity Feed - short
.recent-kindlr-activity-container {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}

//activity card/item
.activity-item {
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin-bottom: 10px;

    p {
        font-size: 14px;
        padding-bottom: 5px;
    }
}

.activity-item-campaign-banner{
    width: 192px;
    height: 108px;
    margin-right: 20px;
}

//special style for pledging to a campaign
.campaign-pledged {
    box-shadow: -3px 0px 5px -2px $byzantium;
    border-radius: 2px;
}

//special style for a campaign update
.campaign-update {
    box-shadow: -4px 0px 3px -4px $green-munsell;
    border-radius: 2px;

    img {
        width: 120px;
        height: 67.5px;
    }
}

#campaign-update-tag {
    color: $green-munsell;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 5px;
    padding-bottom: 0px;
}

//activity description conatiner
.activity-item-description {
    display: flex;
    flex-direction: column;
}

//activity title
.activity-item-title {
    font-weight: 400;
    color: $gray900;
}

//pledge/sticker amount
.activity-item-pledge {
    display: flex;
    flex-direction: row;
    align-content: center;

    img {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }

    p{
        color: $dogwood-rose;
        font-weight: 600;
    }
    
}

.activity-item-update-message {
    max-width: 50ch;
    font-style: italic;
    color: $dark-purple;
}

//activity creator
#activity-item-creator {
    color: $gray600;
    font-size: 12px;

    &:hover {
        text-decoration: underline;
    }
}



///////////////////////////////////////////////
//////////////Live Creators///////////////////
/////////////////////////////////////////////
.live-creators-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 0.75fr);
}

.live-creator-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: white;
    width: 300px;
    border-radius: 4px;
}

.live-creator-top-section {
    display: flex;
    flex-direction: row;
    align-content: center;


    img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        border-radius: 100%;
        padding: 10px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    p{
        font-size: 14px;
        color: $gray900;
        margin-right: 5px;
    }
}


#live-creator-title {
    font-weight: 600;
    color: $gray900;
    font-size: 16px;
}

.live-creator-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;


    a {
        font-size: 14px;
        text-decoration: none;
        color: $gray600;
    }

    img {
        height: 170px;
        width: 100%;
        object-fit: cover;
        padding-top: 10px;
        border-top: 1px solid $gray200;
    }

    p {
        display: flex;
        justify-content: center;
        padding-top: 2px;
    }

}

.live-creator-live-project-tag {
    font-size: 14px;
    color: white;
    background-image: $gradient-bottom-right-purple;
    border-radius: 8px 0px 0px 8px;
    padding: 4px 6px;
    position: absolute;
    top: 20px;
    right: 0px;
    box-shadow: -2px 2px 4px $dark-purple;
}

