.flex-horizontal {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.section-break-line {
  border-bottom: 1px solid #ececec;
  margin: 80px 0px 20px 0px;
}

.stack-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.external-link-w-icon {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.external-link-w-icon a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.external-link-w-icon a:hover {
  color: #820263ff;
}

#external-link-icon {
  width: 14px;
  height: 14px;
  padding: 0px;
  margin: auto 0px;
  opacity: 0.7;
}

.centered-text {
  text-align: center;
}

.all-caps {
  text-transform: uppercase;
}

.w200 {
  font-weight: 200;
}

.w400 {
  font-weight: 400;
}

.w600 {
  font-weight: 600;
}

.w800 {
  font-weight: 800;
}

.w1000 {
  font-weight: 1000;
}

#hover-purple {
  font-size: 14px;
}

#hover-purple:hover {
  color: #820263ff;
}

#hover-purple-underline:hover {
  color: #820263ff;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  font-family: "Red Hat Text", sans-serif;
  background-color: #820263ff;
  color: white;
  font-weight: 400;
  padding: 10px 34px;
  font-size: 18px;
}

.btn:hover {
  transition: all 0.2s ease;
}

.btn:hover {
  color: white;
  background-color: #6e0254;
  transition: all 0.2s ease;
}

.btn.btn-secondary {
  border-width: 2px;
  border-style: solid;
  border-color: #820263ff;
  color: #820263ff;
  font-weight: 500;
  background-color: white;
}

.btn.btn-secondary:hover {
  border-color: #5a0144;
  color: #820263ff;
  transition: all 0.2s ease;
}

.btn.btn-sm {
  padding: 8px 28px;
  font-size: 14px;
}

.btn.btn-lg {
  padding: 14px 42px;
  font-size: 22px;
}

#hover-youtube:hover {
  color: #FF0000;
  text-decoration: none;
}

#hover-twitch:hover {
  color: #6441A4;
  text-decoration: none;
}

#hover-discord:hover {
  color: #7289DA;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  position: relative;
}

a {
  cursor: pointer;
  transition: all 0.2s ease;
}

.section-title {
  text-transform: uppercase;
  color: #8a8a8a;
  margin-top: 60px;
  margin-bottom: 25px;
}

.section-title-with-link {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 60px;
  margin-bottom: 25px;
}

.section-title-with-link h5 {
  text-transform: uppercase;
  color: #8a8a8a;
}

.section-title-with-link a {
  font-size: 14px;
  color: #9d9d9d;
  margin-left: 20px;
}

.center-and-clamp {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main-page-heading {
  margin-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.background-decoration-right {
  position: absolute;
  z-index: -1;
  transform: rotate(-15deg);
  top: 120px;
  right: -300px;
  overflow: hidden;
}

.featured-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.featured-left {
  width: 50%;
  padding-right: 40px;
  border-right: 1px solid #d8d8d8;
}

.featured-left img {
  width: 100%;
}

.featured-left h2 {
  margin-bottom: 20px;
}

.tag-container {
  position: relative;
}

.tag-container .percent-funded-tag {
  font-size: 16px;
  color: white;
  background-color: #820263ff;
  border-radius: 8px 0px 0px 8px;
  padding: 4px 10px;
  position: absolute;
  top: 10px;
  right: 0px;
  box-shadow: -2px 2px 4px #291720ff;
}

.featured-footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-item-container img {
  width: 30px;
  margin-right: 10px;
}

.footer-item-container p {
  font-size: 14px;
  color: #8a8a8a;
}

.featured-right {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.user-steam-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}

.user-steam-info-container img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.user-steam-name-stats {
  display: flex;
  flex-direction: column;
}

.user-steam-stats {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.user-steam-stats p {
  color: #8a8a8a;
  font-size: 13px;
  font-weight: 400;
  margin-right: 15px;
}

.recent-kindlr-activity-container {
  margin-top: 20px;
  background-color: white;
}

.activity-item {
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-bottom: 10px;
}

.activity-item img {
  width: 192px;
  height: 108px;
  margin-right: 20px;
}

.activity-item p {
  font-size: 14px;
  padding-bottom: 5px;
}

.campaign-pledged {
  box-shadow: -3px 0px 5px -2px #820263ff;
  border-radius: 2px;
}

.campaign-update {
  box-shadow: -4px 0px 3px -4px #04a777ff;
  border-radius: 2px;
}

.campaign-update img {
  width: 120px;
  height: 67.5px;
}

#campaign-update-tag {
  color: #04a777ff;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 5px;
  padding-bottom: 0px;
}

.activity-item-description {
  display: flex;
  flex-direction: column;
}

.activity-item-title {
  font-weight: 400;
  color: #4f4f4f;
}

.activity-item-pledge {
  color: #820263ff;
  font-weight: 600;
}

.activity-item-update-message {
  max-width: 50ch;
  font-style: italic;
  color: #291720ff;
}

#activity-item-creator {
  color: #8a8a8a;
  font-size: 12px;
}

#activity-item-creator:hover {
  text-decoration: underline;
}

.live-creators-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 0.75fr);
}

.live-creator-block {
  flex-direction: column;
  align-content: center;
  background-color: white;
  width: 300px;
  border-radius: 4px;
}

.live-creator-top-section {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.live-creator-top-section img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 100%;
  padding: 10px;
}

.live-creator-top-section a {
  text-decoration: none;
  color: inherit;
}

.live-creator-top-section p {
  font-size: 14px;
  color: #4f4f4f;
  margin-right: 5px;
}

#live-creator-title {
  font-weight: 600;
  color: #4f4f4f;
  font-size: 16px;
}

.live-creator-bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.live-creator-bottom-section a {
  font-size: 14px;
  text-decoration: none;
  color: #8a8a8a;
}

.live-creator-bottom-section img {
  height: 170px;
  width: 100%;
  object-fit: cover;
  padding-top: 10px;
  border-top: 1px solid #d8d8d8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: auto;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #291720ff;
}

.footer-logo {
  display: flex;
  margin: auto 0px;
}

.footer-logo h5 {
  margin-bottom: 0px;
}

.footer-logo img {
  width: 60px;
  height: 60px;
}

.footer-logo p {
  color: #d8d8d8;
  font-size: 14px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h5 {
  text-transform: uppercase;
  color: #d8d8d8;
  margin-bottom: 3px;
  font-family: "Red Hat Display", sans-serif;
}

.footer-column a {
  text-decoration: none;
  color: #c5c5c5;
  padding: 3px 0px;
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
}

.footer-column a:hover {
  color: #ececec;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #820263ff;
  padding: 10px 3vw;
}

.footer-bottom img {
  width: 20px;
  height: 20px;
}

.footer-bottom p {
  font-size: 14px;
  color: #c5c5c5;
}

.kindlr-social {
  margin-right: 20px;
}

.kindlr-social:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.footer-bottom-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-bottom-left img {
  margin-right: 4px;
}

.footer-bottom-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.nav-logo {
  width: 60px;
}

.nav-container {
  padding: 28px 0px;
  display: flex;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
}

.nav-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10vw;
}

.nav-container ul a {
  align-self: center;
}

.nav-container ul a:hover {
  text-decoration: underline;
  color: #820263ff;
  transition: all 0.3s ease;
}

.nav-container ul li {
  list-style-type: none;
  margin: 0vw 3vw;
}

.nav-container ul a:last-of-type {
  margin-right: 3vw;
}

.steam-login {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.steam-login img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.steam-login p {
  color: #d90368ff;
}

.steam-logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.steam-logged-in img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#user-signed-in {
  color: #04a777ff;
  text-decoration: none;
}

#user-signed-in:active {
  color: #04a777ff;
}

.stat-above-text {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #636363;
  font-weight: 600;
}

.showcase-stats-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  box-shadow: 1px 2px 10px #d8d8d8;
  border-radius: 20px;
}

.showcase-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: #c5c5c5;
  border-style: solid;
  width: 100%;
  border-width: 1px;
  background-color: white;
}

.first {
  border-radius: 20px 0px 0px 20px;
  z-index: 1;
}

.last {
  border-radius: 0px 20px 20px 0px;
  z-index: 3;
}

.stat {
  font-size: 34px;
  font-weight: 400;
  color: #820263ff;
  margin-bottom: 5px;
  margin-top: 20px;
}

.stat-desc {
  font-size: 14px;
  margin-bottom: 25px;
  color: #636363;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: "Red Hat Text", sans-serif;
}

.quicksearch-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.quicksearch-platforms {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
