//brand colors
$byzantium: #820263ff;
$dark-purple: #291720ff;

    //success
    $green-munsell: #04a777ff;
    //warning
    $dark-orange: #fb8b24ff;
    //error
    $dogwood-rose: #d90368ff;


//grays
$gray100: #ececec;
$gray200: #d8d8d8;
$gray300: #c5c5c5;
$gray400: #b1b1b1;
$gray500: #9d9d9d;
$gray600: #8a8a8a;
$gray700: #767676;
$gray800: #636363;
$gray900: #4f4f4f;
