//Headings font
$font-heading: 'Red Hat Display', sans-serif;

//Body text font
$font-body: 'Red Hat Text', sans-serif;

//connecting headings to font
h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

//connecting text to font
p {
    font-family: $font-body;
}