@import "../core/colors";
@import "../core/typography";

/////////////////////
//  BUTTON MIXIN  //
///////////////////
@mixin btn ($btn-type: '', $btn-size: '') {
    display: inline-block;
    border-radius: 8px;
    font-family: $font-body;
    &:hover {
        transition: all 0.2s ease;
    }

    //primary button
    @if $btn-type == primary {
        background-color: $byzantium;
        color: white;
        font-weight: 400;
        &:hover {
            color: white;
			background-color: darken($color: $byzantium, $amount: 4%);
            transition: all 0.2s ease;
        }
    }@else {
            &.btn-primary {
                color: white;
                background-color: $byzantium;
                font-weight: 400; 
            
            &:hover {
                color: white;
                background-color: darken($color: $byzantium, $amount: 4%);
                transition: all 0.2s ease;
            }}
    }

    //secondary button
    @if $btn-type == secondary {
        border-width: 2px;
        border-style: solid;
        border-color: $byzantium;
        color: $byzantium;
        font-weight: 500;
        background-color: white;
        &:hover {
			border-color: darken($color: $byzantium, $amount: 8%);
            color: $byzantium;
            transition: all 0.2s ease;
        }
    }@else {
            &.btn-secondary {
                border-width: 2px;
                border-style: solid;
                border-color: $byzantium;
                color: $byzantium;
                font-weight: 500;
                background-color: white;
            
            &:hover {
                border-color: darken($color: $byzantium, $amount: 8%);
                color: $byzantium;
                transition: all 0.2s ease;
            }}
    }

    //small button
    @if $btn-size == sm {
        padding: 4px 18px;
        font-size: 14px;
    }@else {
        &.btn-sm {
            padding: 8px 28px;
            font-size: 14px;
        }
    }
   
    //medium button
    @if $btn-size == md {
        padding: 10px 34px;
        font-size: 18px;
    }@else {
        &.btn-md {
            padding: 10px 34px;
            font-size: 18px;
        }
    }
    
    //large button
    @if $btn-size == lg {
        padding: 14px 42px;
        font-size: 22px;
    }@else {
        &.btn-lg {
            padding: 14px 42px;
            font-size: 22px;
        }
    }

    
}


//declare default button
.btn {
    @include btn (primary, md);
}