@import "../core/colors";
@import "../core/external-colors";
@import "../core/typography";


.top-promo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid $gray300;

    p{
        color: $gray600;
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: $gamers-for-good;

        &:hover {
            color: $dogwood-rose; 
        }
    }

    img {
        width: 100px;
        height: 24px;
        padding-left: 10px;
    }

}

//logo
.nav-logo {
    width: 60px;
}

//container
.nav-container {
    padding: 28px 0px;
    display: flex;
    align-items: center;
    font-family: $font-heading;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 10vw;

        a {
            align-self: center;
        }

        a:hover {
            text-decoration: underline;
            color: $byzantium;
            transition: all 0.3s ease;
        }

        li {
            list-style-type: none;
            margin: 0vw 3vw;
        }

        a:last-of-type {
            margin-right: 3vw;
        }
    }
}

.steam-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    p {
        color: $dogwood-rose;
    }

}

.steam-logged-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

#user-signed-in {
    color: $green-munsell;
    text-decoration: none;

    &:active{
        color: $green-munsell 
    }
}