@import "../core/colors";

.stat-above-text{
    margin-top: 30px;
    margin-bottom: 10px;
    color: $gray800;
    font-weight: 600;
}

.showcase-stats-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    box-shadow: 1px 1px 3px $dark-purple;
    border-radius: 20px;
    margin-bottom: 30px;
    background-image: $gradient-bottom-right-purple;
    opacity: 0.9;
}

.showcase-stat { 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $gradient-bottom-right-purple;
    width: 100%;
}

.first{
    border-radius: 20px 0px 0px 20px;
    z-index: 1;
}

.last{
    border-radius: 0px 20px 20px 0px;
    z-index: 3;
}

.stat { 
    font-size: 34px;
    font-weight: 400;
    color: $gray100;
    margin-bottom: 5px;
    margin-top: 20px;
}

.stat-desc {
    font-size: 14px;
    margin-bottom: 25px;
    color: $gray200;
}
